src_files=("kerne/src/*.cpp")

compiler="clang++"
linker="ld.lld"

cflags="-O0 -Wall -Werror -g -ffreestanding -Wno-instantiation-after-specialization -Wno-int-conversion -Wno-infinite-recursion -fno-stack-protector -fno-stack-check -fno-omit-frame-pointer -fno-lto -m64 -march=x86-64 -mabi=sysv -mno-80387 -mno-mmx -mno-red-zone -fno-pie --target=x86_64-pc-none-elf -fno-builtin -mno-sse -mno-sse2 -mno-avx -Ideps/sphynxboot -Ideps -Ikernel/include -Ikernel/ -Ikernel/include/stdlib"
lflags="-nostdlib -static -m elf_x86_64 -z max-page-size=0x1000 -T kernel/linker.ld"

build_dir="obj"
bin_dir="bin"